.principal-landing-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, white, rgba(0, 178, 255, 0.9), white);




  .secao1{
    background-color: #0b9debcc;
    margin: 0 auto;
    margin-top: 3.5vh;
    width: 97%;
    height: 97%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items:flex-start;
      margin: 10px;
      

        .texto-titulo{
          margin-left: 25px;
          margin-top: 40px;
          gap: 40px ;
          width: 50vw;
          height: 50vh;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: white;

          button{
            gap: 20px;
            width: 18vw;
            background-color: white;
            height: 10vh;
            border: none;
            border-radius: 20px;
            color: rgba(1, 146, 219, 1);
            font-size: 1.5vw;
            font-weight: bolder;
            transition: all 0.4s;
          }

          button:hover{
            transform: scale(1.1);
          }
  
          h1{
            font-size: 5.5vw;
          }

          p{
            width: 28vw;
            font-size: 4vh ;
            font-weight: lighter;
            color: white;
          }
        }
      
     
      .img-doutor{

        width: 25vw;
        background-color: rgba(232, 242, 251, 0.849);
        border-radius: 10px ;
        height: 76vh;

        img{
          width: 30.2vw;          
        }
      }


    }

  }

  .faixa-azul{
    background-color: #0b9debe6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 15px;
    width: 97%;
    height: 17vh;  
    color: rgb(255, 255, 255);
    margin-top: 40px;
    
    li{
      font-size: 1.7vw;
      font-weight: 600;
      transition: all 0.4s;
      list-style-type: none;
    }

    li:hover{
      transform: scale(1.5);
    }
  }

  .sobreNos{


    .box-cinza{
      display: flex;
      justify-content: center;
      flex-direction: column ;
      width: 97%;
      height: 100%;
      border-radius: 20px;
      margin: 0 auto;
      margin-top: 10vh; 
      background-color: rgba(243, 243, 243, 1);

      .box-branca{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        margin: 0 auto;
        margin-top: 5vh;
        border-radius: 20px;
        width: 97%;
        height: 100vh;

        .content-sobre-nos{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-bottom: 20vh;
          

          .textos{
            display: flex;
            flex-direction: column;
            margin-top: 7vh;
            gap: 50px;

            p{
                width: 34vw;

            }

          }

          .images{
              img{
                width: 40vw;
                box-shadow:0 0 10px 10px #66666628;
                background-color: rgba(128, 128, 128, 0.191);
              }
          }
        }

        .cabecalho{
          width: 100%;
            display: flex;
            justify-content: flex-start;
            margin-left: 30px;


            h3{
              color: #0192db;
              font-size: 04vh;
              font-family: 'Inter';
              
            }


        }

      }

      .box-transparente{
        display: flex;
        margin: 0 auto;
        margin-top: 10vh;
        width: 97%;
        border-radius: 20px;
        flex-direction: row;
        justify-content: space-evenly;
       

        .image{
          display: flex;
          align-items: center;

            img{
              width: 45vw;
              height: auto;
            }
        }

        .textos-box-cinza{
          display: flex;
          justify-content:space-evenly;
          flex-direction: column;

          h2{
            color: #0192db;
            font-size: 02vw;
            font-family: 'Inter';
          
          }

          h1{
            font-size: 02vw;
          }

          li{
            list-style-type: decimal;
            font-size: 1.8vw;
            font-weight: 450;
          }
          
        }


      }

      .box-branca2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        width: 97%;
        height: 90vh;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 05dvh;


        .textos-box-branca2{
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          width: 47vw;
          height: 80vh;

         

          h3{
            color: #0192db;
            font-size: 04vh;
            font-family: 'Inter';
          
            
          }

          button{
            width: 13vw;
          }

          p{
            width: 30vw;
          }
        }    
        
        
        .image-box-branca2{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
              width: 26vw;
              height: auto;
              
            }
        }
      }


    }

  }

  .Card-Servicos{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 05vh;
  }

}

.chamar-chat-container {
  position: fixed;  
  bottom: 20px;    
  right: 20px;      
  z-index: 1000;    
}


@media (max-width: 768px){

  

  .principal-landing-page{
    height: auto;
    .secao1{
      background-color: #0b9debcc;
      margin: 0 auto;
      margin-top: 3.5vh;
      width: 97%;
      height: auto;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
  
  
      .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        gap: 40px;
        
  
          .texto-titulo{
           
           
            width: 90vw;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
  
            button{
              width: 40vw;
              background-color: white;
              height: 7vh;
              border: none;
              border-radius: 20px;
              color: rgba(1, 146, 219, 1);
              font-size: 3.5vw;
              font-weight: bolder;
              transition: all 0.4s;
            }
  
            button:hover{
              transform: scale(1.1);
            }
    
            h1{
              width: 90%;
              font-size: 7.5vw;
              display: flex;
              flex-direction: row;
              justify-content: center;
            }
  
            p{
              width: 90%;
              font-size: 3.5vw ;
              font-weight: lighter;
              color: white;
              text-align: center;
            }
          }
        
       
        .img-doutor{

          display: flex;
          flex-direction: column;
          align-items: center;
          width: auto;
          background-color: rgba(232, 242, 251, 0.849);
          border-radius: 10px ;
          height: auto;
  
          img{
         margin-left: 30px;
            width: 60vw;
            height: auto;       
          }
        }
  
  
      }
  
    }
  
    .faixa-azul{
      li{
        font-size: 2vw;
        list-style-type: none;
      }
      
    }
  
    .sobreNos{
  
      height: auto;

      width: 100%;
      .box-cinza{
        display: flex;
        justify-content: center;
        flex-direction: column ;
        width: 97%;
        height: 100%;
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 10vh; 
        background-color: rgba(243, 243, 243, 1);
        
  
        .box-branca{
  
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          background-color: white;
          margin: 0 auto;
          margin-top: 5vh;
          border-radius: 20px;
          width: 97%;
          height: auto;
  
          .content-sobre-nos{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
  
            .textos{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 7vh;
              gap: 40px;
  
              p{
                  width: 89%;
                  text-align: center;
  
              }

              h1{
                width: 99%;
                text-align: center;
                font-size: 20px;
              }
  
            }
  
            .images{
              display: flex;
              flex-direction: row;
              justify-content: center;
                img{
                  margin: 5vh 0px 0 0;
                  width: 60vw;
                  height: auto;
                  box-shadow:0 0 10px 10px #66666628;
                  background-color: rgba(128, 128, 128, 0.191);
                }
            }
          }
  
          .cabecalho{
              width: 100%;
              display: flex;
              justify-content: center;
  
  
              h3{
                color: #0192db;
                font-size: 05vh;
                font-family: 'Inter';
              }
  
  
          }
  
        }
  
        .box-transparente{
          display: flex;
          margin: 0 auto;
          width: 97%;
          border-radius: 20px;
          flex-direction: column-reverse;
          margin-top: 10vw;
          
          
         
  
          .image{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
              margin: 5vh 0px;
              width: 60vw;
              height: auto;
              box-shadow:0 0 10px 10px #66666628;
              background-color: rgba(128, 128, 128, 0.191);
            }
          }
  
          .textos-box-cinza{
            display: flex;
            justify-content:space-evenly;
            flex-direction: column;
            align-items: center;
            gap:40px;
  
            h2{
              color: #0192db;
              font-size: 04vh;
              font-family: 'Inter';
            }
  
            h1{
              width: 99%;
              text-align: center;
              font-size: 20px;
            }
  
            li{
              font-size: 16px;
              width: 99%;
              text-align: start;
              margin: 0 10px;
              
            }
            
          }
  
  
        }
  
        .box-branca2{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          margin: 0 auto;
          border-radius: 20px;
          width: 97%;
          height: auto;
  
  
          .textos-box-branca2{
            display: flex;
            flex-direction: column;
            align-items: center;
            
  
           
  
            h3{
              color: #0192db;
              font-size: 04vh;
              font-family: 'Inter';
              
            }

            h1{
              width: 99%;
              text-align: center;
              font-size: 20px;
            }
  
            button{
              width: 30vw;
              
            }
  
      
             
              p{
               width: 80vw;
                text-align: center;
                font-size: 16px;

            
            }
          }    
          
          
          .image-box-branca2{
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                margin: 5vh auto;
                width: 40vw;
                height: auto;
                box-shadow:0 0 10px 10px #66666628;
                background-color: rgba(128, 128, 128, 0.191);
              }
          }
        }
  
  
      }
  
    }
  
    .Card-Servicos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 05vh;
    }
  
  }
  
  .chamar-chat-container {
    position: fixed;  
    bottom: 20px;    
    right: 20px;      
    z-index: 1000;    
  }

  
}