$font: "Arial";


.mae {
    background-color: rgb(11, 157, 235);
    font-family: $font;
    height: 100%;   
    max-height: 900px;

    .Texto-image {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .img-doutor {

        display: flex ;
        
       
        
        img {
            width: 40vh;
        }
    }

    .wave{
        width: 100%;
    }

    
.informaçoes-do-doutor {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5vh;
    color: white;

    h1 {
        display: flex;
        justify-content: flex-start; 
        align-items: center; 
        border-radius: 4vh;
        gap: 10px;
        font-size: 7vh;
        font-style: bold;
    }


    h2 {
        width: 70vh;
        font-family: arial;
        font-weight: lighter;
    }


    a {
        background-color: white;
        text-decoration: none;
        text-align: center;
        width: 30vh;
        height: 10vh;
        display: flex;
        justify-content: center; 
        align-items: center; 
        border-radius: 4vh;
        gap: 10px;
        font-size: 20px;
        color: black;

        p {//fiz uma gambiarra aqui, se quiser eu faço direito depois//
            color: rgba(1, 146, 219, 1);
            background-color: white;
        }
    transition: 1s;
    &:hover {
        transition: 1s;
        transform: scale(1.1);
    }

    }

}

    .secao-2{
        display:flex;
        justify-content: center ;
        align-items: center;
        width: 100%;
        height: 100dvh;
        background-color: white;

        .main{
            display: flex;
            flex-direction: row;
            gap: 20vh;
            justify-content: space-evenly;
            align-items: center;
            width: 220dvh;
            

            .saibaMais{
                display: flex;
                flex-direction: column;
                width:40%;

                .iconeEtexto{
                    display: flex ;
                    flex-direction: row;
                    align-items: center;
                    gap: 07dvh;

                    h2{
                        color: #006eff;
                        font-size: 7vh;
                        text-align: center;

                        
                    }

                    .iconeSaibaMais{
                        width: 17dvh;
                        height: 17dvh;
                    }
                }

                .textoSaibaMais{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 88dvh;

    
                    p{
                        font-size: 4vh;
                    }
                }


            }

            .conhecaMe{
                display:flex ;
                flex-direction: column;

                .textoConhecaMe{
                    
                    h2{
                        font-size: 7vh;
                        text-align: center;
                        color: #006eff;
                    }

                }

                .iconesConhecaMe{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 15dvh;
                }
            }
        }
    }

}







