.main-land{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, white, rgba(0, 178, 255, 0.9), white);
  
    
  .secao1{
    background-color: rgba(11, 157, 235, 0.8);
    margin: 0 auto;
    width: 97%;
    height: 97%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items:flex-start;
      margin: 10px;
      

  


        .texto-titulo{
          margin-left: 25px;
          margin-top: 40px;
          gap: 40px ;
          width: 50vw;
          height: 50vh;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: white;

          button{
            gap: 20px;
            width: 18vw;
            background-color: white;
            height: 10vh;
            border: none;
            border-radius: 20px;
            color: rgba(1, 146, 219, 1);
            font-size: 3.5vh;
            font-weight: bolder;
            transition: all 0.4s;
          }

          button:hover{
            transform: scale(1.1);
          }
  
          h1{
            font-size: 10vh;
          }

          p{
            width: 28vw;
            font-size: 4vh ;
            font-weight: lighter;
          }
        }
      
     
      .img-doutor{

        width: 25vw;
        background-color: rgba(232, 242, 251, 0.849);
        border-radius: 10px ;
        height: 76vh;

        img{
          width: 30.2vw;          
        }
      }


      
    }

  }

 



}