body, html, .mae {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-color: #0b9deb; /* Azul de fundo */
    color: white;
    text-align: left;
    position: relative;
    z-index: 1;
    height: 110vh;
  }
  
  .Texto-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: auto;
    margin: auto;
  }

  .texto{

    display: flex;
    flex-direction: column;
    margin-bottom: 25vh;
  }
  
  .informacoes-do-doutor h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .informacoes-do-doutor h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .A-da-info a {
    background-color: white;
                text-decoration: none;
                text-align: center;
                width: 30vh;
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4vh;
                gap: 10px;
                font-size: 20px;
                color: black;
                transition: 0.4s;

                p {
                    color: rgba(1, 146, 219, 1);
                    background-color: white;
                }

                &:hover {
                    transform: scale(1.1);

                    transition: 0.4s;
                   box-shadow: 5px 5px 5px #0a6697;
                  
                  }
            }
  .img-doutor .medico {
    width:  67vh;
    height: auto;
  }
  
  .wave-container {
    position: relative;
    margin-top: -4px; /* Adicione uma margem negativa para elevar a onda */
    z-index: 0;
  }
  
  .wave {
    width: 100%;
    display: block;
  }
  