.main_financeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 10vh;
    gap: 3vh;
    
    

    .card_financas {
        display: flex;
        gap: 5vh;

        .content-cards {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #046AE2;
            color: white;
            width: 22vh;
            height: 20vh;
            border-radius: 2vh;
            transition: 1s;
            font-size: 1.1vw;

            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }
        }
    }
}

.content_anos {
    display: flex;
    flex-direction: row;
    gap: 5vh;

    button {
        background-color: #046AE2;
        color: white;
        border: none;
        text-align: center;
        width: 20vh;
        border-radius: 2vh;
        transition: 1s;

        &:hover {
            text-align: center;
            background-color: #0151ac;
            transform: scale(1.1);
            transition: 1s;
        }
    }
}


@media (max-width:786px) {
   .main_financeiro{
    height: auto;


    .graficos {
        max-height: 40vh;
        overflow-y: scroll;
    }
    .card_financas {
    .content-cards {
        width: 17vh ;
        height: 14vh;
        font-size: 2vw;
        margin-top: -5vw;
        
   } }}
}