
.card1 {
    background-color: #ffffff; // cor de fundo da imagem
    padding: 20px;
    border-radius: 10px;
    width: 60vh; // largura mais controlada para se parecer com o card na imagem
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
    transition: transform 0.2s;
  
    
    margin-right: 5vh;

    /* Container dos botões editar e finalizar */
    .container-buttons {
      display: flex;
      justify-content: space-between;
    }
    /* ----------------------------------------- */
    
    .dados-cliente {
      h1 {
        color: #333;
        font-size: 16px;
        margin-bottom: 10px;
        text-align: left;
      }
  
      hr {
        border: none;
        border-top: 1px solid #333;
        margin: 10px 0;
      }
  
      .field {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
  
        h2 {
          font-size: 14px;
          color: #333;
          margin-right: 5px;
          font-weight: normal;
        }
  
        p {
          font-size: 14px;
          color: #555;
          margin: 0;
        }
  
        input {
          font-size: 14px;
          padding: 5px;
          width: 180px;
        }
      }
    }
}

@media (max-width: 768px) {
  .card1 {
      width: 90%; // Altera a largura para 90% em telas menores
      margin-right: 0; // Remove a margem direita para evitar overflow
      padding: 15px; // Ajusta o padding

      .dados-cliente {
          h1 {
              font-size: 18px; 
          }

          .field {
              h2 {
                  font-size: 12px; // Reduz o tamanho da fonte do subtítulo
              }

              p {
                  font-size: 12px; // Reduz o tamanho da fonte do texto
              }

              input {
                  width: 100%; // Define o input para ocupar 100% da largura disponível
              }
          }
      }
  }
}