.minhas-consultas-page{
    background: linear-gradient(to bottom, #60B6E3, #C8E7F7);
    height: 100vh;
    width: 100%;
}

ul{
    width: 15vw;
    height: 20vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    .titles{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

   
}
h1{
    margin-left: 08vh;
    font-size: 07vh;
}

.consultas-container{
    width: 30vw;
    height: 54vh;
    background-color: white;
    box-shadow: 13px 13px 13px rgba(0, 0, 0, 0.337);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 65px;
    align-items: center;

    .cabecalho{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.329);
        width: 30vw;
        height: 10vh;
        border-radius: 30px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

    }

    .dados{



        margin-top: 10vh;
    }
}