$font: "Arial";

* {

    font-family: $font;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px; 

}

.img-header-logo {
    margin: 01dvh;
    img {
        width: 34vh;
    }
}

.A-do-header {
    display: flex;
    justify-content: flex-end; 
    gap: 4vh;
    padding-right: 20vh;
    flex-grow: 1; 
    
    a {
        color: white;
        text-decoration: none;
        transition: 0.5s;
        font-size: 3vh;

        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
}
