* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-left: 5vh;
 padding-top: 5vh;
  height: 100vh;

  
  .buscar-paciente {
    display: flex;
    flex-direction: column;
    justify-content: center;  // Centraliza verticalmente dentro do contêiner
    align-items: flex-start;      // Centraliza horizontalmente
    gap: 1vh;

    .Buscar::placeholder{
      color: white;
      font-weight: 400;
    }

    .Buscar:focus{
      outline: none;
    }

    .label-select-input{
      font-size: 1.8vh;
    }
    .Buscar{
      border: 1px solid black;
      
      height: 6vh;
      width: 40vh;
      padding-left: 2vh;
      padding-right: 2vh;
      border-radius: 20px;
      font-size: 3vh;
      background-color: #60B6E3;
        opacity: 74%;
      color: #fff;
    }
    
    select {
      border: 1px solid #0E39D0;
      
      height: 4vh;
      width: 38vh;
  
      padding-left: 1vh;
      border-radius: 8px;
  
      font-size: 1.7vh;
      color: #000000;
    }
    select:focus {
      outline: none; 
    }
  }
}


.card1 {
  background-color: #60B6E3; // cor de fundo da imagem
  padding: 20px;
  border-radius: 10px;
  width: 60vh; // largura mais controlada para se parecer com o card na imagem
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  .dados-cliente {
    h1 {
      color: #333;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: left;
    }

    hr {
      border: none;
      border-top: 1px solid #333;
      margin: 10px 0;
    }

    .field {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 8px;

      h2 {
        font-size: 14px;
        color: #333;
        margin-right: 5px;
        font-weight: normal;
      }

      p {
        font-size: 14px;
        color: #555;
        margin: 0;
      }

      input {
        font-size: 14px;
        padding: 5px;
        width: 180px;
      }
    }
  }

  .proximo-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      background-color: #004db3;
    }
  }

  .editar {
    background-color: #0066ff;
    padding: 1vh 3vh;
    border: none;
    border-radius: 2vh;
    color: white;
  }
}
