.main{
    //Alinhamento da page
    display: flex;
    flex-direction: column;
    gap: 5vh;
    flex: 1;

    background: linear-gradient(to bottom, #60B6E3, #C8E7F7);

    align-items: center;

    //Container que armazena o conteudo do AutoCadastro
    .container-box{
        background-color: #FFFFFF;

        display: flex;
        width: 75%;
        

        border-radius: 40px;

        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;

       
        box-shadow: 10px 10px 4px #0B9DEB;

        margin-bottom: 10vh;
        

        .container-box-geral{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            align-items: center;

        margin-bottom: 4vh;
        margin-top: 2vh;

            .container-box-inputs{
                display: flex;
                width: 80vh;
                flex-wrap: wrap;
                margin-top: 8vh;
                gap: 5vh;
                

                .input-style{
                    p{
                        font-size: 1.5vh;
                        margin-bottom: 1vh;
                    }

                    input{
                        border: 1px solid black;
                        border-radius: 8px;

                        height: 6vh;
                        width: 35vh;

                        padding-left: 2vh;

                    }

                    select{
                        border: 1px solid black;
                        border-radius: 8px;

                        height: 6vh;
                        width: 35vh;

                        padding-left: 1vh;
                        color: gray;
                    }
                }
            }

            .container-box-data{
            
                display: flex;
                flex-direction: row;
                margin-top: 5vh;

                justify-content: center;
                gap: 9vh;
                width: 41vw;

                .container-box-agenda{
                    border: 2px solid black;
                    border-radius: 28px;

                    height: 23vh;
                    width: 33vh;
                    margin-left: -5vh;

                    .box-cont{
                        display: flex;
                        flex-direction: column;

                        justify-content: space-around;

                        height: 100%;

                        p{
                            font-size: 1.5vh;
                            font-weight: bold;
                            padding-left: 2vh;
                        }

                        .box-h3-img{
                            margin-top: 1vh;
                            padding-left: 2vh;
                            
                            gap: 1vh;
                            display: flex;

                            h3{
                                display: flex;
                                font-weight: 100;
                                font-size: 3vh;

                                gap: 2vh;
                                align-items: center;
                                text-align: center;
                                justify-content: center;
                                flex-wrap: wrap;
                            }


                        }

                       hr{
                        border: 1px solid black;
                       }

                       .box-data{

                        align-self: center;
                        width: 75%;

                        .box-data-input{
                           
                            input{
                                border: 1px solid black;
                                border-radius: 4px;
        
                                height: 6vh;
                                width: 100%;
        
                                padding-left: 2vh;
        
                            }
                        }


                       }


                    }
                }

                .container-box-horario{
                    display: flex;
                    align-self: flex-start;
                    
                    border: 2px solid black;
                    border-radius: 28px;

                    height: 23vh;
                    width: 33vh;

                    align-items: center;
                    justify-content: center;

                    .box-cont-horarios{
                        display: flex;
                        flex-direction: column;

                        width: 25vh;
                        
                        gap: 5vh;
                        align-items: center;
                        justify-items: center;


                        .box-horarios{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            width: 100%;
                            gap: 1vh;
                           justify-content: center;
                            button{
                               height: 3vh;
                               width: 7vh;

                               background-color: #60B6E3;
                               border-radius: 5px;
                               border: 1px solid rgb(33, 33, 33);
                            }
                        }
                    }
                }
            
            }

            .container-box-txt-button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 6vh;
                margin-bottom: 5vh;
                gap: 6vh;

                .txt-hr{
                    margin-left: 4vh;
                    
                    hr{
                        border-color: #0B9DEB;
                    }

                    p{
                        display: flex;
                        flex-wrap: wrap;
                        text-align: center;
                        font-weight: bold;
                        
                    }
                }

                button{
                    margin-right: 4vh;
                    border-radius: 20px;
                    background-color: #0B9DEB;
                    width: 15vh;
                    height: 6vh;

                    color: white;
                    font-size: 2vh;
                }
            }


        }
    }

    //Container que ARMAZENA o conteudo do Nos Encontre Por Aqui...
    .container-box2{
        display: flex;
        flex-direction: column;
        width: 80%;

        margin-bottom: 5vh;
        
        gap: 3vh;

        h1{
            align-self: center;
            color: #0B9DEB;
            font-size: 7vh;
            text-shadow: 5px 6px 8px #ffffff;
        }
        .container-box-cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

           

            gap: 3vh;

            .card-box-email{
                display: flex;
                flex-direction: row;

                align-items: center;

                background-color: #FFFFFF;
                border-radius: 20px;
                padding: 2vh;
                padding-top: 1.5vh;
                padding-right: 5vh;
                padding-left: 1vh;
               

                .Emailicon{
                    width: 13.5vh;
                }

                .txt-card{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5vh;
                }
            }

            .card-box-tel{
                display: flex;
                flex-direction: row;

                align-items: center;

                background-color: #FFFFFF;
                border-radius: 20px;
                padding: 2vh;
                padding-right: 18vh;
                padding-left: 2vh;
                gap: 2vh;

                .Emailicon{
                    width: 12vh;
                }

                
                img{
                    width: 10.5vh;
                }

                .txt-card{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5vh;
                }
            }

            .card-box-loc{
                display: flex;
                flex-direction: row;

                align-items: center;

                background-color: #FFFFFF;
                border-radius: 20px;
                padding: 2vh;
                padding-right: 11vh;
                padding-left: 2vh;
                gap: 1vh;

                .Emailicon{
                    width: 12vh;
                }

                
                img{
                    width: 11.5vh;
                }

                .txt-card{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5vh;
                }
            }
        }
        .container-box-local{
            display: flex;
            align-items: center;
            justify-content: center;

            img{    
                width: 98%;
                border-radius: 10px;
            }
        }
    }


}