.ChamarBot {
    position: relative;

    button {
        z-index: 1000;
    }
}

.chat-popup {
    position: absolute;
    bottom: 10vh; // Manter o chat perto da parte inferior, mas com espaço
    left: 0; // Ajustar para a esquerda conforme necessário
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    max-height: 70vh; // Limitar a altura máxima
    overflow-y: auto; // Permitir rolagem vertical
    display: flex;
    flex-direction: column-reverse; // Inverte a direção do conteúdo, novas mensagens empurram para cima
}

.bot1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse; // Para garantir que as mensagens apareçam de baixo para cima
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse; // As novas mensagens aparecem no final da lista
}

input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-top: 10px; // O input de mensagem sempre ficará no final
    width: 100%;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        background-color: #0056b3;
    }
}
