.pagina-adm {


    background-color: rgb(0, 0, 0);
    width: 25%;
    height: 100vh;

    border-top-right-radius: 7vh;

    .logo-e-voltar {
        display: flex;
        

        Link {
            color: white;
        }
    }
}