.pagina-adm {
    background: #00a2ff; 
    height: 100vh;
    width: 25%; 

    border-top-right-radius: 7vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-e-voltar {
        display: flex;
        align-items: center;
        padding: 20px;
        
        .voltar {

            display: flex;
            
            color: white;
            font-size: 24px;
            text-decoration: none;
            margin-right: auto; 
        }

        img {
            height: 50px; 
            margin-left: 10px;
        }
    }

    .menu-azul {
        background-color: #005cbf;
        border-radius: 20px; 
        width: 80%; 
        height: 50%;
        margin: 0 auto; 
        padding: 20px;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        margin-top: auto;
        
        .opcoes-do-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            color: white;
            font-size: 18px;
            gap: 20px; 
            line-height: 1.5;
            width: 100%;
        }
    }
}
